{% extends 'base/main.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css'%}">
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table-fixed-columns.min.css'%}">
<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-motorcycle w3-xlarge w3-margin-right"></i> Moto</h1>
<hr>

<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold w3-text-red">Table de recapitulation</h6>
  </div>
  <div class="card-body">
    <div id="toolbar">
      <button class="btn btn-secondary" onclick="window.location.href='/moto/create'"><i class="fas fa-plus-circle w3-margin-right"></i>Nouvelle enregistrement</button>

    </div>
    <div class="table-responsive text-nowrap">
      <table class="table-striped table-hasthead text-nowrap" id="tableTest1" data-search="true" data-fixed-columns="true" data-fixed-number="1" data-fixed-right-number="1" data-toggle="table" data-show-columns="true" data-pagination="true"
        data-sortable="true" data-show-export="true" data-show-button-icons="true" data-show-pagination-switch="true" data-toolbar="#toolbar">
        <thead class="thead-dark gray-dark">
          <tr>
            <th data-sortable="true">Ref</th>
            <th data-sortable="true">Date d’entrée</th>
            <th data-sortable="true">Nom moto</th>
            <th data-sortable="true">Num moteur</th>
            <th data-sortable="true">FRN</th>
            <th data-sortable="true">PA</th>
            <th data-sortable="true">PV</th>
            <th data-sortable="true">Date de vente</th>
            <th data-sortable="true">Nom du client 1</th>
            <th data-sortable="true">Tel client 1</th>
            <th data-sortable="true">Num BL</th>
            <th data-sortable="true">Num sur facture</th>
            <th data-sortable="true">Nom client 2</th>
            <th data-sortable="true">Tel client 2</th>
            <th data-sortable="true">Montant reparation</th>
            <th>Option</th>
          </tr>
        </thead>

        <tbody>
          {% for i in motos %}
          {% if  i.num_BL != "" and i.num_sur_facture == "" %}
          <tr class="w3-pale-yellow">
            <td class="text-right">{{i.ID_Moto}}</td>
            <td>{{i.date_entree}}</td>
            <td>{{i.nom_moto}}</td>
            <td>{{i.num_moteur}}</td>
            <td>{{i.FRN}}</td>
            <td class="text-right">{{i.PA}}</td>
            <td class="text-right">{{i.PV}}</td>
            <td>{{i.date_vente}}</td>
            <td>{{i.nom_client_1}}</td>
            <td>{{i.tel_client_1}}</td>
            <td>{{i.num_BL}}</td>
            <td>{{i.num_sur_facture}}</td>
            <td>{{i.nom_client_2}}</td>
            <td>{{i.tel_client_2}}</td>
            <td class="text-right">{{i.montant_reparation}}</td>
            <td>
              <a href="{% url 'editMoto' pk=i.pk %}" class="btn btn-success">Ed</a>

              <a href="{% url 'deleteMoto' pk=i.pk %}" class="btn btn-danger">Sup</a>
              </td>
          </tr>
            {% elif i.num_BL != "" and i.num_sur_facture != "" %}
            <tr class="w3-pale-green">
              <td class=" text-right">{{i.ID_Moto}}</td>
              <td>{{i.date_entree}}</td>
              <td>{{i.nom_moto}}</td>
              <td>{{i.num_moteur}}</td>
              <td>{{i.FRN}}</td>
              <td class="text-right">{{i.PA}}</td>
              <td class="text-right">{{i.PV}}</td>
              <td>{{i.date_vente}}</td>
              <td>{{i.nom_client_1}}</td>
              <td>{{i.tel_client_1}}</td>
              <td>{{i.num_BL}}</td>
              <td>{{i.num_sur_facture}}</td>
              <td>{{i.nom_client_2}}</td>
              <td>{{i.tel_client_2}}</td>
              <td class="text-right">{{i.montant_reparation}}</td>
              <td>
                <a href="{% url 'editMoto' pk=i.pk %}" class="btn btn-success">Ed</a>

                <a href="{% url 'deleteMoto' pk=i.pk %}" class="btn btn-danger">Sup</a>
                </td>
            </tr>

            {% else %}
            <tr>
              <td class=" text-right">{{i.ID_Moto}}</td>
              <td>{{i.date_entree}}</td>
              <td>{{i.nom_moto}}</td>
              <td>{{i.num_moteur}}</td>
              <td>{{i.FRN}}</td>
              <td class="text-right">{{i.PA}}</td>
              <td class="text-right">{{i.PV}}</td>
              <td>{{i.date_vente}}</td>
              <td>{{i.nom_client_1}}</td>
              <td>{{i.tel_client_1}}</td>
              <td>{{i.num_BL}}</td>
              <td>{{i.num_sur_facture}}</td>
              <td>{{i.nom_client_2}}</td>
              <td>{{i.tel_client_2}}</td>
              <td class="text-right">{{i.montant_reparation}}</td>
              <td>
                <a href="{% url 'editMoto' pk=i.pk %}" class="btn btn-success">Ed</a>

                <a href="{% url 'deleteMoto' pk=i.pk %}" class="btn btn-danger">Sup</a>
                </td>
            </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{% load static %}
<!-- Core plugin JavaScript-->
<script src="{% static 'base/js/popper.min.js'%}"></script>
<script src="{% static 'base/js/bootstrap-table.min.js'%}"></script>

<!-- Custom script for this page -->
<script src="{% static 'base/js/bootstrap-table-fixed-columns.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'base/js/tableExport.min.js' %}"></script>
<script src="{% static 'base/js/jspdf.min.js'%}"></script>
<script src="{% static 'base/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-mobile.min.js' %}"></script>
<!-- <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script> -->
<script type="text/javascript">
  $(function() {
    $('#tableTest1').bootstrapTable({
      height: $(window).height(),
      onAll: function(name, args) {
        fixleftwidth()
      }
    });

    function fixleftwidth() {
      setTimeout(function() {
        var fixColumnTds = $(".fixed-table-body-columns tr:first-child td");
        var fixNum = fixColumnTds.length;
        var tableBody = $(".fixed-table-body tbody tr:first-child td");
        for (var i = 0; i < fixNum; i++) {
          fixColumnTds.eq(i).width(tableBody.eq(i).width())
        }
      }, 0)
    }
    fixleftwidth()
    $(window).resize(function() {
      $('#tableTest1').bootstrapTable('resetView');
      fixleftwidth()
    });
  });

  function detailFormatter(index,row){
    var html[]
    $.each(row,function(key,value){
      html.push('<p><b>'+key+':<:/b>'+ value + '</p>')
    })
    return html.join('')
  }
</script>

{% endblock %}
