{% extends "base/main.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'operation/css/opstyle.css' %}">

<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-cogs w3-xlarge w3-margin-right"></i>Operation</h1>
<hr>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8">
    <div class="w3-display-container w3-padding-24">
      <div class="w3-display-middle">
        <h2>Dedouannement</h2>
      </div>
      <div class="w3-display-right">
        <button class="btn btn-secondary" onclick="toggle()">Toggle</button>
        <button class="btn btn-secondary" onclick="reduce()">Reduire tout</button>
      </div>
    </div>
  </div>
</div>
<br>
<form class="form-group" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
</form>
{% endblock content %}
