{% extends 'base/main.html'%}
{% load static %}
{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'operation/css/opstyle.css' %}">

<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-cogs w3-xlarge w3-margin-right"></i>Operation</h1>
<hr>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8">
    <div class="w3-display-container w3-padding-24">
      <div class="w3-display-middle">
        <h2>Preparation</h2>
      </div>
      <div class="w3-display-right">
        <button class="btn btn-secondary" onclick="toggle()">Toggle</button>
        <button class="btn btn-secondary" onclick="reduce()">Reduire tout</button>
      </div>
    </div>
  </div>
</div>
<br>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 pre-scrollable" style="max-height:67vh">
      <!-- > Invoice </!-->
      <div class="card box shadow mb-4">
        <div class="card-header card-link">
          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Invoice</h4>
        </div>
        <div class="card-body">
          {{form.INCOTERM.label}}
          {{form.INCOTERM}}
          {{form.Montant_Invoice.label}}
          {{form.Montant_Invoice}}
          {{form.Invoice_Num.label}}
          {{form.Invoice_Num}}
          {{form.Invoice_PJ.label}}
          {{form.Invoice_PJ}}
        </div>
      </div>

      <!-- > Packing list </!-->
      <div class="card box shadow mb-4">
        <div class="card-header card-link">

          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Packing list</h4>
        </div>
        <div class="card-body">
          {{form.Nbre_Colis.label}}
          {{form.Nbre_Colis}}
          {{form.PJ_PL.label}}
          {{form.PJ_PL}}
          {{form.Gross_Weight.label}}
          {{form.Gross_Weight}}
          {{form.Net_Weight.label}}
          {{form.Net_Weight}}
        </div>
      </div>

      <!-- > D.E </!-->
      <div class="card box shadow mb-4">
        <div class="card-header">

          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>D.E</h4>
        </div>
        <div class="card-body">
          {{form.DE_Num.label}}
          {{form.DE_Num}}
          {{form.DE_PJ.label}}
          {{form.DE_PJ}}
        </div>
      </div>

      <!-- > Fumigation </!-->
      <div class="card box shadow mb-4">
        <div class="card-header">
          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Fumigation</h4>
        </div>
        <div class="card-body">
          {{form.Fumigation_Num.label}}
          {{form.Fumigation_Num}}
          {{form.Fumigation_PJ.label}}
          {{form.Fumigation_PJ}}
        </div>
      </div>

      <!-- > BSC </!-->
      <div class="card box shadow mb-4">
        <div class="card-header">
          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>BSC</h4>
        </div>
        <div class="card-body">
          {{form.Exportateur_Name.label}}
          {{form.Exportateur_Name}}
          {{form.BSC_ID_Exportateur.label}}
          {{form.BSC_ID_Exportateur}}
          {{form.Importateur_Name.label}}
          {{form.Importateur_Name}}
          {{form.BSC_ID_Importateur.label}}
          {{form.BSC_ID_Importateur}}
          {{form.BSC_PJ.label}}
          {{form.BSC_PJ}}
          {{form.BSC_Remarque.label}}
          {{form.BSC_Remarque}}
          {{form.BSC_Depense.label}}
          {{form.BSC_Depense}}
        </div>
      </div>

      <!-- > domiciliation </!-->
      <div class="card box shadow mb-4">
        <div class="card-header">
          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Domiciliation</h4>
        </div>
        <div class="card-body">
          {{form.Dom_Num.label}}
          {{form.Dom_Num}}
          {{form.Dom_PJ.label}}
          {{form.Dom_PJ}}
          {{form.Dom_Banque.label}}
          {{form.Dom_Banque}}
          {{form.Dom_Num_Compte.label}}
          {{form.Dom_Num_Compte}}
          {{form.Dom_Depense.label}}
          {{form.Dom_Depense}}
        </div>
      </div>

      <!-- > O.T </!-->
      <div class="card box shadow mb-4">
        <div class="card-header">
          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Ordre de transit</h4>
        </div>
        <div class="card-body">
          {{form.OT_PJ.label}}
          {{form.OT_PJ}}
          {{form.Date_OT.label}}
          {{form.Date_OT}}
          {{form.OT_Honoraire.label}}
          {{form.OT_Honoraire}}
        </div>
      </div>

      <!-- > Autres </!-->
      <div class="card box shadow mb-4">
        <div class="card-header">
          <h4><i class="fas fa-chevron-down fa-fw w3-margin-right"></i>Autres</h4>
        </div>
        <div class="card-body">
          {{form.Autres_Num.label}}
          {{form.Autres_Num}}
          {{form.Champ_1.label}}
          {{form.Champ_1}}
          {{form.ch1_PJ.label}}
          {{form.ch1_PJ}}
          {{form.Champ_2.label}}
          {{form.Champ_2}}
          {{form.ch2_PJ.label}}
          {{form.ch2_PJ}}
          {{form.Champ_3.label}}
          {{form.Champ_3}}
          {{form.ch3_PJ.label}}
          {{form.ch3_PJ}}
          {{form.Champ_4}}
          {{form.ch4_PJ.label}}
          {{form.ch4_PJ}}
        </div>
      </div>

    </div>
    <hr class="mb-3">

  </div>
  <div class="row justify-content-center">
    <div class=""><br>
      <a href="/operation/" class=" btn btn-primary"><i class="fas fa-arrow-alt-circle-left w3-large w3-margin-right"></i>Retour</a>

      <button class=" btn btn-success" type="submit" data-toggle="modal" data-target="#myModal"><i class="fas fa-save w3-large w3-margin-right"></i> Enregistrer</button>

    </div>
  </div>
</form>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content  w3-green">

      <!-- Modal Header -->
      <div class="modal-header">
        <span class="fas fa-check-square-o w3-xxxlarge"></span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body w3-xlarge">
        Enregistrement effectué!
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        {# <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> #}
      </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  // Date filter
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();
  if (dd < 10) {
    dd = '0' + dd
  }
  if (mm < 10) {
    mm = '0' + mm
  }

  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("DateOT").setAttribute("max", today);

  // Ajax operations
  $(document).ready(function() {
    $('#Exportateur').change(function(e) {
      e.preventDefault();
      if ($(this).val() != "") {
        var ExportateurName = $("[value~=" + $(this).val() + "]").text();
        $.ajax({
          type: 'GET',
          url: "{% url 'ExportateurData'%}",
          data: {
            "ExportateurName": ExportateurName,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(response) {
            var ExportateurIdBSC = response.ExportateurIdBSC;
            document.getElementById("ExportateurIdBSC").value = ExportateurIdBSC;
          },
          error: function(response) {
            console.log("ERROR" + response);
          }
        })
      } else {
        document.getElementById("ExportateurIdBSC").value = "";
      }
    })
    $('#Importateur').change(function(e) {
      e.preventDefault();
      if ($(this).val() != "") {
        var ImportateurName = $("[value~=" + $(this).val() + "]").text();
        $.ajax({
          type: 'GET',
          url: "{% url 'ImportateurData'%}",
          data: {
            "ImportateurName": ImportateurName,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(response) {
            var ImportateurIdBSC = response.ImportateurIdBSC;
            var DomBanque = response.DomBanque;
            document.getElementById("ImportateurIdBSC").value = ImportateurIdBSC;
            document.getElementById("DomBanque").value = DomBanque;
          },
          error: function(response) {
            console.log("ERROR" + response);
          }
        })
      } else {
        document.getElementById("ImportateurIdBSC").value = "";
      }
    })
  })
</script>
<script src="{% static 'operation/js/front-end-preparation.js' %}" charset="utf-8"></script>
{% endblock js %}
