{% extends "base/main.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'operation/css/opstyle.css' %}">

<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-cogs w3-xlarge w3-margin-right"></i>Operation</h1>
<hr>
<div class="row justify-content-center">
	<div class="col-md-8 col-lg-8">
		<div class="w3-display-container w3-padding-24">
			<div class="w3-display-left">
				<h2>Dedouannement</h2>
			</div>
			<div class="w3-display-right">
				<button class="btn btn-secondary" onclick="toggle()">Toggle</button>
				<button class="btn btn-secondary" onclick="reduce()">Reduire tout</button>
			</div>
		</div>
	</div>
</div>
<br>
<form class="form-group" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row justify-content-center">
		<div class="col-md-8 col-lg-8 pre-scrollable" style="max-height:60vh">
			{% include "operation/DedCompany.html" %}
			{% include "operation/DedMICTSL.html" %}
			{% include "operation/DedDouane.html" %}
			{% include "operation/DedDepense.html" %}
			<h3>Total</h3>
			<hr>
			<div class="form-group">
				<label for="id_Total" class="col control-label">{{form.Total.label}}</label>
				<div class=" col">
					{{form.Total}}
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class=""><br>
			<a href="/operation/" class=" btn btn-primary"><i class="fas fa-arrow-alt-circle-left w3-large w3-margin-right"></i>Retour</a>

			<button class=" btn btn-success" type="submit" data-toggle="modal" data-target="#myModal"><i class="fas fa-save w3-large w3-margin-right"></i> Enregistrer</button>

		</div>
	</div>

</form>
{% endblock content %}
{% block js %}
<script src="{% static 'operation/js/front-end-dedouannement.js' %}"></script>


<script>
	// Date filter
	$(document).ready(function() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1; //January is 0!
		var yyyy = today.getFullYear();
		if (dd < 10) {
			dd = '0' + dd
		}
		if (mm < 10) {
			mm = '0' + mm
		}

		today = yyyy + '-' + mm + '-' + dd;
		document.getElementById("Date_MICTSL").setAttribute("max", today);
		document.getElementById("Date_Liquidation").setAttribute("max", today);
		document.getElementById("Date_BS").setAttribute("max", today);
		document.getElementById("Date_BAD").setAttribute("max", today);
		document.getElementById("DAU_Date").setAttribute("max", today);
		document.getElementById("OV_Date_Paiement").setAttribute("max", today);
		document.getElementById("Date_Chargement").setAttribute("max", today);
		document.getElementById("Date_Livraison").setAttribute("max", today);
	})

	// Ajax
	$(document).ready(function() {
		$('#Compagnie').change(function(e) {
			e.preventDefault();
			if ($(this).val() != "") {
				var CompanyName = $("[value~=" + $(this).val() + "]").text();
				console.log("CompanyName = " + CompanyName);
				$.ajax({
					type: 'GET',
					url: "{% url 'CompanyData'%}",
					data: {
						"CompanyName": CompanyName,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: function(response) {
						var adresseTana = response.adresseTana;
						document.getElementById("id_adresseTana").value = adresseTana;

						var adresseTamatave = response.adresseTamatave;
						document.getElementById("id_adresseTamatave").value = adresseTamatave;

						var email1 = response.email1;
						document.getElementById("id_email1").value = email1;
						var email2 = response.email2;
						document.getElementById("id_email2").value = email2;
						var email3 = response.email3;
						document.getElementById("id_email3").value = email3;
						var contact = response.contact;
						document.getElementById("id_contact").value = contact;

					},
					error: function(response) {
						console.log("ERROR" + response);
					}
				})
			} else {
				document.getElementById("id_adresseTana").value = "";
				document.getElementById("id_adresseTamatave").value = "";
			}
		})

		if ($("#Compagnie").val() != "") {
			var CompanyName = $("[value~=" + $("#Compagnie").val() + "]").text();
			console.log("CompanyName = " + CompanyName);
			$.ajax({
				type: 'GET',
				url: "{% url 'CompanyData'%}",
				data: {
					"CompanyName": CompanyName,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function(response) {
					var adresseTana = response.adresseTana;
					document.getElementById("id_adresseTana").value = adresseTana;

					var adresseTamatave = response.adresseTamatave;
					document.getElementById("id_adresseTamatave").value = adresseTamatave;

					var email1 = response.email1;
					document.getElementById("id_email1").value = email1;
					var email2 = response.email2;
					document.getElementById("id_email2").value = email2;
					var email3 = response.email3;
					document.getElementById("id_email3").value = email3;
					var contact = response.contact;
					document.getElementById("id_contact").value = contact;

				},
				error: function(response) {
					console.log("ERROR" + response);
				}
			})
		} else {
			document.getElementById("id_adresseTana").value = "";
			document.getElementById("id_adresseTamatave").value = "";
			document.getElementById("id_email1").value = "";
			document.getElementById("id_email2").value = "";
			document.getElementById("id_email3").value = "";
			document.getElementById("id_contact").value = "";
		}
	})

	// OV default value
	$(document).ready(function() {
		if (!$("#id_OV_Banque").val()) {
			console.log("No banque");
			document.getElementById("id_OV_Banque").value = "BMOI Mateza Transit"
		}
		if (!$("#id_OV_Num_Compte").val()) {
			console.log("No num compte");
			document.getElementById("id_OV_Num_Compte").value = "00010 035659 201 01"
		}
	})


</script>
{% endblock js %}
