{% extends 'base/main.html'%}

{% block content %}
{% load humanize %}
<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-cogs w3-xlarge w3-margin-right"></i>Operation n°{{id}}</h1>
<hr>
<h2 class="text-center">Reception</h2>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 pre-scrollable" style="max-height:67vh">
      {% load l10n %}
      {{ form|localize }}
    </div>
    <hr class="mb-3">

  </div>
  <div class="row justify-content-center">
    <div class=""><br>
      <a href="/operation/" class=" btn btn-primary"><i class="fas fa-arrow-alt-circle-left w3-large w3-margin-right"></i>Retour</a>

      <button class=" btn btn-success" type="submit" data-toggle="modal" data-target="#myModal"><i class="fas fa-save w3-large w3-margin-right"></i> Enregistrer</button>

    </div>
  </div>
</form>

{% endblock %}
{% block js %}
{% include "base/modal.html" %}
<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();
  if (dd < 10) {
    dd = '0' + dd
  }
  if (mm < 10) {
    mm = '0' + mm
  }

  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("dateBL").setAttribute("max", today);
  document.getElementById("dateDepart").setAttribute("max", today);
  document.getElementById("dateReception").setAttribute("max", today);
</script>
{% endblock js %}
