{% extends 'base/main.html'%}
{% block content %}
{% load static %}
{% load l10n %}
{% localize on %}
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table.min.css'%}">
<link rel="stylesheet" href="{% static 'base/css/bootstrap-table-fixed-columns.min.css'%}">

<div class="card shadow mb-4">
  <div class="card-header mb-4">
    <h6 class="m-0 font-weight-bold w3-text-red">Solde</h6>
  </div>
  <div class="card-body">


    <div class="row justify-content-lg-start text-gray-800">
      <div class="col-md-6 col-lg-2">

        {% for solde in solde %}

        <h6><strong>Solde initial [Ar]</strong></h6>
        <hr>
        <p class="text-right w3-large"><a href="{% url 'refSoldeTamatave' pk=solde.pk %}" class="btn btn-success w3-left"><i class="fas fa-edit w3-margin-right"></i>Modifier</a>{{solde.soldeInitial}}</p>
        <br>
        <h6><strong>Solde actuel [Ar]</strong></h6>
        <hr>
        <p class="text-right w3-large">{{solde.soldeActuel}}</p>
        {% endfor %}
      </div>
      <hr class="mb-3">

    </div>




  </div>
</div>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold w3-text-red">Table de recapitulation</h6>
  </div>
  <div class="card-body">
    <div id="toolbar">
      <button class="btn btn-danger" onclick="window.location.href='/caisseTamatave/create'"><i class="fas fa-plus-circle w3-margin-right"></i>Nouvelle enregistrement</button>

    </div>
    <div class="table-responsive text-nowrap">
      <table class="table-striped table-hasthead text-nowrap" id="tableTest1" data-search="true" data-fixed-columns="true" data-fixed-number="1" data-fixed-right-number="1" data-toggle="table" data-show-columns="true" data-pagination="true"
        data-sortable="true" data-show-export="true" data-show-button-icons="true" data-show-pagination-switch="true" data-toolbar="#toolbar">
        <thead class="thead-dark gray-dark">
          <tr>
            <th data-sortable="true">Libellee</th>
            <th data-sortable="true">Date</th>
            <th data-sortable="true">Depense</th>
            <th data-sortable="true">Recette</th>
            <th>Option</th>
          </tr>
        </thead>

        <tbody>
          {% for i in caisseTamataves %}
          <tr>
            <td>{{i.libellee}}</td>
            <td>{{i.date}}</td>
            <td class="text-right">{{i.depense}}</td>
            <td class="text-right">{{i.recette}}</td>
            <td>
              <a href="{% url 'editCaisseTamatave' pk=i.pk %}" class="btn btn-success"><i class="fas fa-edit w3-margin-right"></i>Ed</a>

              <a href="{% url 'deleteCaisseTamatave' pk=i.pk %}" class="btn btn-danger"><i class="fas fa-remove w3-margin-right"></i>Sup</a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endlocalize %}
{% endblock content %}
{% block js %}
<!-- Core plugin JavaScript-->
<script src="{% static 'base/js/popper.min.js'%}"></script>
<script src="{% static 'base/js/bootstrap-table.min.js'%}"></script>

<!-- Custom script for this page -->
<script src="{% static 'base/js/bootstrap-table-fixed-columns.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'base/js/tableExport.min.js' %}"></script>
<script src="{% static 'base/js/jspdf.min.js'%}"></script>
<script src="{% static 'base/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'base/js/bootstrap-table-mobile.min.js' %}"></script>
<!-- <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script> -->
{% include "base/modal.html" %}
<script type="text/javascript">
  $(function() {
    $('#tableTest1').bootstrapTable({
      height: $(window).height(),
      onAll: function(name, args) {
        fixleftwidth()
      }
    });

    function fixleftwidth() {
      setTimeout(function() {
        var fixColumnTds = $(".fixed-table-body-columns tr:first-child td");
        var fixNum = fixColumnTds.length;
        var tableBody = $(".fixed-table-body tbody tr:first-child td");
        for (var i = 0; i < fixNum; i++) {
          fixColumnTds.eq(i).width(tableBody.eq(i).width())
        }
      }, 0)
    }
    fixleftwidth()
    $(window).resize(function() {
      $('#tableTest1').bootstrapTable('resetView');
      fixleftwidth()
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#accordionSidebar").toggleClass("bg-gradient-primary bg-gradient-danger");
    $("#caisseTamataveMenu").addClass("active");
    $("#pageTitle").addClass("fas fa-cash-register fa-fw w3-margin-right");
    $("h3").addClass("text-danger");
  })
</script>
{% endblock js %}
